#header {
  width: 100%;  
  text-align: center;
  font-family: Arial;
  font-size: 60px;
  color: red;
 }

 .rainbow-text {
    animation-duration: 3.115s;
   }
   
.rainbow-text {
    background: linear-gradient(53.13deg,#FFD33D 0,#FB8532 16.02%,#EA4A5A 28.06%,#8A63D2 56.92%,#2188FF 72.93%,#34D058 84%,#FFD33D 100%);
    background-size: auto;
    background-clip: border-box;
    background-clip: text;
    display: inline-block;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6.28s alternate infinite;
    animation-duration: 6.28s;
    background-size: 300%;
}
   
@keyframes shine {
    0% {
     background-position:200% center
    }
    62.8% {
     background-position:100% center
    }
    100% {
     background-position:200% center
    }
}

text {
    font-family:serif;	
    font-size: 120px;
    font-weight: bold;
  }

#eins {
    fill: url(#verlauf);
    }

.leftFloat {
  float: left
  }
  .rightFloat {
  float: right
  }

  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
  
  tr:hover {background-color: #ddd;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }


  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  nav li:last-child {
    border-right: yes;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  
 nav li a:hover:not(.active) {
    background-color: #111;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    padding:0px;
    top:25px;
    left: 0;
}
nav ul li ul li {
    display: inline;
}
nav ul li ul li a {
    display: block;
}

[aria-current] {
  font-weight: bold;
  background-color: #cc33ff;
}
