ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li.navigation {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li.navigation:last-child {
    border-right: yes;
  }
  
  li a.navigation {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  
  li a.navigation:hover:not(.active) {
    background-color: #111;
  }
  
  [aria-current] {
    font-weight: bold;
    background-color: #cc33ff;
  }